


@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tab{
    --tab-border-color: rgba(255, 56, 17, 0.3)
    --tab-border: 3px;
}

:root{
    /* --body_background: white;
    --body_color: black;
    --card-bg: #f1f3f2;
    --text_third: black; */

    --body_background:white;
    --body_color:black;
    --text_third: black;
   --card-bg: #f1f3f2;
   --hover-card-bg: black;
   --hover-card-color: white;
   --hover-card-img-bg:white;
   --undo-card-img-bg:black;
    
    

}

[data-theme = "dark"] {
    --body_background:black;
    --body_color:white;
    --text_third: white;
   --card-bg: #191e24;
   --hover-card-bg:white;
   --hover-card-color: black;
   --hover-card-img-bg:black;
   --undo-card-img-bg:white;
    

}
[data-theme="light"]{

    --body_background:white;
    --body_color:black;
    --text_third: black;
   --card-bg: #f1f3f2;
   --hover-card-bg: black;
   --hover-card-color: white;
   --hover-card-img-bg:white;
   

}

